{% extends 'chunks/base.html' %}
{% load static %}
{% block content %}
    <section
            class="relative pb-[30px] w-[1140px] max-[500px]:pt-10 max-1180px:px-5 max-1180px:w-auto m-auto flex flex-col justify-center pt-[139px] text-center overflow-hidden">
        <img src="{% static 'img/bg.gif' %}" alt="Background GIF"
             class="background-gif max-[500px]:h-[360px] max-[500px]:w-[360px] absolute top-1/2 left-1/2 w-[500px] h-[500px] object-cover transform -translate-x-1/2 -translate-y-1/2">
        <h2 style="text-transform: uppercase;"
            class="text-[#161616] font-normal text-[55px] max-1000px:text-[38px] max-[500px]:text-[20px] max-1000px:leading-[42px] max-[500px]:leading-[28px] leading-[71.5px] mb-2.5 days-one-regular">
            {{ settings.index.main_block.header }}
        </h2>
        <p class="self-center w-[60%] max-[500px]:w-full text-[#161616] text-[18px] max-1000px:text-[15px] max-[500px]:text-[12px] mb-[30px]">
            {{ settings.index.main_block.text }}
        </p>
        <a href="{% url 'contact' %}"
           class="text-white py-2.5 px-5 transition-px hover:px-8 duration-300 rounded-[100px] border-[#9000FF] bg-[#B24DFF] w-fit self-center">
            Оставить заявку
        </a>
    </section>

    <div class="w-[1140px] max-900px:hidden max-1180px:px-5 max-1180px:w-auto mx-auto flex items-center justify-between mt-[96px] relative z-10">
        <a href="{% url 'portfolio' %}"
           class="py-2.5 px-[50px] bg-white border-[1px] border-[#9000FF] rounded-[100px]  transition-colors duration-300 hover:bg-[#9000FF] hover:text-white">Портфолио</a>
        <a href="{{ settings.portfolio.telegram }}"
           class="py-2.5 px-[50px] bg-white border-[1px] border-[#9000FF] rounded-[100px] transition-colors duration-300 hover:bg-[#9000FF] hover:text-white">Написать
            в
            телеграм</a>
    </div>

    <div class="w-[1140px] max-1180px:px-5 max-1180px:w-auto max-900px:mt-0 pt-10 m-auto flex justify-center mt-[-106px] relative">
        <video autoplay muted controls width="153" height="86" preload="auto" id="scrollImage" class="scroll-image max-900px:w-full rounded-[77px] max-900px:rounded-[10px] max-900px:min-h-[396px] max-[500px]:min-h-[168px]">
            <source src="static/img/test.mp4" type="video/mp4" />
        </video>
    </div>

    <section class="mt-[125px] max-[500px]:mt-[50px] max-1180px:px-5 max-1180px:w-auto w-[1140px] m-auto">
        <h4 class="text-center days-one-regular font-normal text-[40px] max-1000px:text-[30px] max-[500px]:text-[18px] text-[#161616]">
            ОСНОВНЫЕ УСЛУГИ</h4>
        <div>
            {% for pair in grouped_services %}
                <div class="hover-container max-[800px]:p-2.5 max-[800px]:text-center max-[800px]:flex-col flex mt-[30px] items-center p-[30px] justify-between border-[1px] rounded-[15px] border-black-30%">
                    <p style="text-transform: uppercase"
                       class="text-[24px] max-1000px:text-[19px] max-[500px]:text-[14px] font-[600] {% if pair.1 %}hover-text{% endif %}"
                       data-hover-text="{{ pair.1.name }}">{{ pair.0.name }}</p>
                    <p style="text-transform: uppercase"
                       class="text-[24px] max-1000px:text-[19px] max-[500px]:text-[12px] !opacity-[30%] font-[600] {% if pair.1 %}hover-text{% endif %}"
                       data-hover-text="{{ pair.1.tools }}">{{ pair.0.tools }}</p>
                </div>
            {% endfor %}
        </div>
    </section>

    <div class="w-[1180px] max-[1220px]:px-5 max-[1220px]:w-auto m-auto max-[500px]:mt-[50px] mt-[125px]">
        <div class="flex justify-between max-1000px:flex-col">
            <h4 class="days-one-regular max-1000px:text-[29px] max-[500px]:text-[18px] font-normal text-[40px] w-1/4 max-1000px:w-full max-1000px:mb-2.5">
                НЕДАВНИЕ РАБОТЫ</h4>
            <div class="w-[40%] max-1000px:w-full">
                <p class="text-[18px] max-1000px:text-[15px] max-[320px]:text-[12px] max-1000px:mb-5">{{ settings.index.recent_works.text }}</p>
                <a href="{% url 'portfolio' %}" style="display: inline-block;"
                   class="text-white border-[1px] border-[#9000FF] bg-[#9000FF] py-2.5 px-5 rounded-[100px] transition-colors duration-300 hover:bg-white hover:text-[#161616] mt-5">Все
                    работы</a>
            </div>
        </div>
    </div>

    <section class="w-[1180px] max-[1220px]:px-5 max-[1220px]:w-auto m-auto">
        {% for project in projects %}
            <div class="flex{% if forloop.counter|divisibleby:2 %} flex-row-reverse {% endif %} items-center max-1000px:flex-col justify-between mt-[70px] max-1000px:mt-[50px]">
                <div class="max-1000px:mb-[30px] max-1000px:self-start">
                    <p class="days-one-regular font-normal text-[40px] max-1000px:text-[29px] max-[320px]:text-[18px] text-[#161616]">
                        {{ project.name }}
                    </p>
                    <p class="max-[320px]:text-[12px]">{{ project.service.all|join:", " }}</p>
                    <div class="mt-[25px]">
                        <a href="{% url 'portfolio_detail' project.id %}"
                           class="text-[14px] border-[#9000FF] rounded-[100px] py-2.5 px-5 border-[1px] transition-colors duration-300 hover:bg-[#9000FF] hover:text-white">Смотреть
                            проект
                        </a>
                    </div>
                </div>
                <div>
                    <img src="{{ project.preview.url }}" alt="FINSUM"
                         class="max-w-[680px] w-full h-full object-cover rounded-[30px] rotate-[2.05deg]">
                </div>
            </div>
            {#    <div class="flex flex-row-reverse max-1000px:flex-col items-center justify-between mt-[70px] max-1000px:mt-[50px]">#}
            {#        <div class="max-1000px:mb-[30px] max-1000px:self-end">#}
            {#            <p class="days-one-regular font-normal max-1000px:text-[29px] max-[320px]:text-[18px] text-[40px] text-[#161616]">#}
            {#                FIN<span#}
            {#                    class="days-one-regular font-normal max-1000px:text-[29px] max-[320px]:text-[12px] text-[40px] text-[#161616] opacity-[30%]">SUM</span>#}
            {#            </p>#}
            {#            <p class="max-[500px]:text-[12px]">logo, UI Design, branding</p>#}
            {#            <div class="mt-[25px]">#}
            {#                <a href="#" class="text-[14px] border-[#9000FF] rounded-[100px] py-2.5 px-5 border-[1px]">Смотреть#}
            {#                    проект#}
            {#                </a>#}
            {#            </div>#}
            {#        </div>#}
            {#        <div>#}
            {#            <img src="{% static 'img/project-2.png' %}" alt="FINSUM"#}
            {#                 class="max-w-[680px] h-max-[500px] w-full h-full object-cover rounded-[30px] -rotate-[1.75deg]">#}
            {#        </div>#}
            {#    </div>#}
        {% endfor %}
    </section>

    <div class="w-[1146px] max-1180px:px-5 max-1180px:w-auto m-auto max-[500px]:mt-[50px] mt-[125px]" id="about-us">
        <div class="flex justify-between max-1000px:flex-col">
            <h4 class="days-one-regular font-normal max-1000px:text-[29px] max-[320px]:leading-[23px] max-[320px]:text-[18px] text-[40px] max-1000px:w-full max-1000px:mb-2.5 w-1/3 leading-[50.92px]">
                УЗНАЙТЕ О НАС БОЛЬШЕ</h4>
            <div class="w-[50%] max-1000px:w-full">
                <p class="text-[18px] max-[320px]:text-[12px]">{{ settings.index.know_more.text }}</p>
                <a href="{% url 'contact' %}" style="display: inline-block"
                   class="border-[#9000FF] border-[1px] text-[#161616] py-2.5 px-5 rounded-[100px] transition-colors duration-300 hover:bg-[#9000FF] hover:text-white mt-5">Связаться
                    с нами</a>
            </div>
        </div>
    </div>

    <section class="w-[1146px] max-1180px:px-5 max-1180px:w-auto m-auto mt-5">
        <div class="flex max-1000px:flex-col gap-5 max-1000px:gap-0">
            {% for item in settings.index.know_more.grouped_cards %}
                {% if forloop.counter0|divisibleby:"2" %}
                    <div class="w-1/2 max-1000px:w-full">
                        <div class="flex mt-5 flex-col bg-[#9000FF] rounded-[20px] text-white p-[30px]">
                            <h1 class="text-[80px] max-[320px]:text-[50px] mb-[60px] font-semibold">
                                {% if item.0.number %}{{ item.0.number }}{% if item.0.plus_sign %}+{% endif %}{% else %}
                                    0{% endif %}</h1>
                            <p style="text-transform: uppercase"
                               class="text-[18px] max-[320px]:text-[12px] w-[65%] max-1000px:w-full self-end max-1000px:self-start font-semibold">
                                {{ item.0.text }}</p>
                        </div>
                        <div class="flex mt-5 flex-col bg-[#9000FF] rounded-[20px] text-white p-[30px]">
                            <h1 class="text-[80px] max-[320px]:text-[50px] mb-[60px] font-semibold">
                                {% if item.1.number %}{{ item.1.number }}{% if item.1.plus_sign %}+{% endif %}{% else %}
                                    0{% endif %}</h1>
                            <p style="text-transform: uppercase"
                               class="text-[18px] max-[320px]:text-[12px] w-[65%] max-1000px:w-full self-end max-1000px:self-start font-semibold">
                                {{ item.1.text }}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="w-1/2 max-1000px:w-full">
                        <div class="flex mt-[82px] max-1000px:mt-5 flex-col bg-[#9000FF] rounded-[20px] text-white p-[30px]">
                            <h1 class="text-[80px] max-[320px]:text-[50px] mb-[60px] font-semibold">
                                {% if item.0.number %}{{ item.0.number }}{% if item.0.plus_sign %}+{% endif %}{% else %}
                                    0{% endif %}</h1>
                            <p style="text-transform: uppercase"
                               class="text-[18px] max-[320px]:text-[12px] w-[65%] max-1000px:w-full self-end max-1000px:self-start font-semibold">
                                {{ item.0.text }}</p>
                        </div>
                        <div class="flex mt-5 flex-col bg-[#9000FF] rounded-[20px] text-white p-[30px]">
                            <h1 class="text-[80px] max-[320px]:text-[50px] mb-[60px] font-semibold">
                                {% if item.1.number %}{{ item.1.number }}{% if item.1.plus_sign %}+{% endif %}{% else %}
                                    0{% endif %}</h1>
                            <p style="text-transform: uppercase"
                               class="text-[18px] max-[320px]:text-[12px] w-[65%] max-1000px:w-full self-end max-1000px:self-start font-semibold">
                                {{ item.1.text }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    <section id="our-clients"
             class="w-[1146px] max-1180px:px-5 max-1180px:w-auto m-auto max-[500px]:mt-[50px] mt-[125px]">
        <h4 class="text-[40px] max-1000px:text-[29px] max-[320px]:text-[18px] days-one-regular font-normal text-[#161616] text-center mb-10">
            НАШИ КЛИЕНТЫ</h4>
        <div class="flex gap-[2px] flex-wrap items-center">
            {% for client in clients %}
                <div class="w-[calc(25%-2px)] max-[800px]:w-[calc(50%-2px)] h-[162px] rounded-[20px] flex justify-center border border-transparent hover:border-gray-300 hover:shadow-lg transition-custom">
                    <img src="{{ client.picture.url }}" alt="idea"
                         class="scale-50 object-contain filter grayscale hover:grayscale-0 transition-custom">
                </div>
            {% endfor %}
        </div>
    </section>

    {% include 'chunks/form.html' %}
{% endblock %}