{% extends 'chunks/base.html' %}
{% load static %}
{% load tags %}
{% block content %}

    <section
            class="w-[1146px] max-1180px:px-5 max-1180px:w-auto m-auto mt-[40px] flex max-1000px:flex-col items-center">
        <div class="w-[40%] max-1000px:w-full mr-5 max-1000px:mb-10 max-[500px]:mb-5">
            <h2 style="text-transform: uppercase"
                class="days-one-regular font-normal max-1000px:text-[36px] max-[320px]:text-[18px] text-[55px] text-[#161616] mb-2.5">{{ project.name }}</h2>
            <p class="text-[18px] max-[320px]:text-[12px] max-[500px]:text-[15px] text-[#161616] max-[500px]:mb-5 mb-[30px]">{{ project.description }}</p>
            <a href="{% url 'contact' %}"
               class="border-[1px] border-[#9000FF] py-2.5 px-5 text-[14px] text-[#161616] rounded-[100px] transition-colors duration-300 hover:bg-[#9000FF] hover:text-white">
                Консультация
            </a>
        </div>
        <div class="w-[60%] max-1000px:w-full">
            <img src="{{ project.preview.url }}" alt="">
        </div>
    </section>

    <section
            class="w-[1146px] max-1180px:px-5 max-1180px:w-auto max-[500px]:flex-col max-[500px]:items-start max-[500px]:gap-2.5 max-[500px]:mt-5 m-auto mt-[70px] flex items-center justify-between">
        <div>
            <p class="text-[#161616] opacity-[50%]">Клиент</p>
            <p class="text-[#161616]">{{ project.client }}</p>
        </div>
        <div>
            <p class="text-[#161616] opacity-[50%]">Сделанная работа</p>
            <p class="text-[#161616]">{{ project.service.all|join:", " }}</p>
        </div>
        {% if project.year %}
            <div>
                <p class="text-[#161616] opacity-[50%]">Год</p>
                <p class="text-[#161616]">{{ project.year }}</p>
            </div>
        {% endif %}
    </section>

    <section class="w-[1146px] max-1180px:w-auto max-1000px:mt-[80px] max-[500px]:mt-[30px] m-auto mt-[128px]">
        <img src="{{ project.content_picture.url }}" alt="Finsum Preview">
        {% if project.content_video %}
            <video loop autoplay muted width="153" height="86" preload="auto" id="scrollImage"
               class="object-fill scroll-image max-900px:w-full rounded-[77px] max-900px:rounded-[10px] max-900px:min-h-[396px] max-[500px]:min-h-[168px]">
            <source src="{{ project.content_video.url }}" type="video/mp4"/>
        </video>
        {% endif %}
    </section>

    <section class="w-full m-auto mt-[128px] relative">
        <h4 class="text-center text-[40px] max-1000px:text-[29px] max-[500px]:text-[18px] text-[#161616] days-one-regular font-normal">
            {{ settings.portfolio.work_feed_header }}</h4>
        <div class="relative mt-10 max-1180px:!pl-5" style="padding-left: calc((100vw - 1146px) / 2);">
            <div class="flex gap-5 overflow-x-auto scrollbar-hide pb-5">
                {% for project in projects %}
                    <a href="{% url 'portfolio_detail' project.id %}" class="flex-shrink-0">
                        <div>
                            <img src="{{ project.preview.url }}" alt=""
                                 class="h-[328px] max-1000px:h-[218px] max-[500px]:h-[110px] rounded-[20px]">
                        </div>
                        <div class="mt-[25px]">
                            <p class="text-[24px] max-[1000px]:text-[21px] max-[320px]:text-[18px] text-[#161616] font-bold">{{ project.name }}</p>
                            <p class="text-[#161616] max-1000px:text-[14px] max-[320px]:text-[12px]">{{ project.service.all|join:", " }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="absolute top-0 right-0 h-full w-[50px] bg-gradient-to-l from-white"></div>
        </div>
    </section>

    {% include 'chunks/form.html' %}

{% endblock %}
